/* General customization ---------------------------------------------------- */
* {
  box-sizing: border-box;
  --big-font-size: 3.5rem;
  --medium-font-size: 2rem;
  --small-font-size: 1.3rem;
  --black: hsl(0deg 0% 7%);
  --white: hsl(0deg 0% 100%);
  --transition-property: all ease-in-out 0.05s;
}

:root,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

/* General layout ----------------------------------------------------------- */
body {
  width: max(100vw, 1000px);
  height: max(100vh, 700px); /* 700px so that enough to show all keys */
  display: flex;
}

div.left {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.right {
  width: 25%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

div.left > * {
  margin-top: 0;
  margin-bottom: 0;
}

/* General typography ------------------------------------------------------- */
@font-face {
  font-family: cute-font;
  src: url(font/Pacifico-Regular.ttf);
}

body {
  font-family: cute-font; /* Inherited by default */
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: var(--big-font-size);
}

.right h2 {
  font-size: var(--medium-font-size);
  border-bottom: solid var(--white) 3px;
  padding: 2rem;
  margin: 0; /* Between the header and the list */
}

/* Right panel styling ------------------------------------------------------ */
ul.key-mapping {
  margin: 0;
  width: 70%;
  margin: 0 auto; /* To center the mappings; don't use text-align center */
  color: var(--white);
}

ul.key-mapping li {
  list-style: none;
  font-size: var(--small-font-size);
  color: var(--white);
}

ul.key-mapping li:not(:first-child) {
  margin-top: 1rem;
}

.right ul {
  padding: 1rem;
}

.key-label {
  display: inline-block;
  background: var(--white);
  font-size: 1.5em;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #aaa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
  color: black;
}

/* Flying effect ------------------------------------------------------------ */
.drum-kit-wrapper {
  position: relative; /* For the three images to reference WRT it */
  height: 80%;
  width: 700px; /* Use absolute size, if resize the positions will all run */
  margin: 0 auto;
  text-align: center;
}

.main-title {
  padding-top: 2rem;
  height: 20%;
}

.drum-kit {
  width: 600px; /* Static */
  position: relative;
}

.crash-cymbal {
  position: absolute; /* Check the relative parent which is .drum-kit-wrapper */
  top: 114px;
  left: 18.5%;
  transform: rotate(-7.2deg) scale(1.5); /* When crash is struck */
  transition: var(--transition-property);
}

.hihat-top-cymbal {
  position: absolute;
  top: 166px;
  right: 17%;
  transform: scale(1.35);
  z-index: 0;
  transition: var(--transition-property);
}

.key {
  display: inline-block;
  transition: var(--transition-property);
  position: absolute;
  background: var(--white);
  font-size: 1.5em;
  height: 32px;
  line-height: 25px;
  width: 32px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #aaa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.key.kick {
  top: 340px;
  right: 275px;
}

.key.kick2 {
  top: 340px;
  right: 375px;
}

.key.snare {
  right: 195px;
  top: 250px;
}

.key.tom-high {
  right: 280px;
  top: 240px;
}

.key.tom-mid {
  left: 275px;
  top: 220px;
}

.key.tom-low {
  top: 320px;
  left: 185px;
}

.key.crash {
  left: 120px;
  top: 95px;
}

.key.ride {
  left: 220px;
  top: 95px;
}

.key.hihat-open {
  right: 210px;
  top: 155px;
}

.key.hihat-close {
  right: 120px;
  top: 155px;
}

.playing {
  transform: scale(1.12); /* Activate this class with JS */
}
