* {
  box-sizing: border-box;
  --big-font-size: 3.5rem;
  --medium-font-size: 2rem;
  --small-font-size: 1.3rem;
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  width: max(100vw, 1000px);
  height: max(100vh, 600px);
  display: flex;
}

div.left {
  width: 70%;
  height: 100%;
  border: solid red 3px;
}

div.right {
  width: 30%;
  height: 100%;
  border: solid blue 3px;
}

ul.key-mapping {
  margin: 0;
}

ul.key-mapping li {
  list-style: none;
  font-size: var(--small-font-size);
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: var(--big-font-size);
}

h2 {
  font-size: var(--medium-font-size);
}
