@font-face {
    font-family: "digital-font";
    src: url("font/digital-7.ttf");
}

* {
    --BLACK: #000000;
    --BLUE: #17d4fe;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BLACK);
}

.display {
    color: var(--BLUE);
    font-size: 5rem;
    letter-spacing: 0.15rem;
    font-family: "digital-font";
}
