:root {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--WHITE);
  --YELLOW: #c1d72e;
  --WHITE: #ffffff;
  --FONT-SIZE-BIG: min(6vw, 4rem);
  --FONT-SIZE-MEDIUM: min(4vw, 2rem);
  --FONT-SIZE-SMALL: 22px; /* @media */
  --BUTTON-MIN-WIDTH: 44px; /* @media */
  --BUTTON-BORDER-RADIUS: 10px; /* @media */
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  :root {
    --FONT-SIZE-SMALL: 15px;
    --BUTTON-MIN-WIDTH: 22px;
    --BUTTON-BORDER-RADIUS: 5px;
  }
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  width: max(100px, 100vw); /* This controls the size of everything */
  height: max(400px, 100vh); /* This controls the size of everything */
  background-color: var(--YELLOW);
  border: solid transparent 3px;
}

.all-caps {
  text-transform: uppercase;
}

ul.character-wrapper {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--BUTTON-MIN-WIDTH), 1fr)
  ); /* 44px user experience, let's do half 22px */
  gap: 10px; /* User experience */
  width: min(800px, 50%);
  margin: 1% auto;
}

ul.character-wrapper li {
  list-style: none;
  aspect-ratio: 1 / 1;
}

ul.character-wrapper button {
  width: 100%;
  height: 100%;
  padding: 0;
  color: var(--YELLOW);
  font-size: var(--FONT-SIZE-SMALL);
  border-radius: var(--BUTTON-BORDER-RADIUS);
  border-color: transparent;
}

ul.character-wrapper button:hover {
  color: var(--WHITE);
  background-color: var(--YELLOW);
  border-color: var(--WHITE);
}

h1 {
  font-size: var(--FONT-SIZE-BIG);
  margin: 0;
  margin-top: 1%;
}

h2 {
  font-size: var(--FONT-SIZE-MEDIUM);
  margin: 0;
  margin-top: 1%;
  padding: 0 1rem;
}

button {
  cursor: pointer;
}

ul.display-wrapper {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

ul.display-wrapper li {
  list-style: none;
  padding: 0;
  font-size: var(--FONT-SIZE-SMALL);
  border-bottom: solid var(--WHITE) 3px;
  width: 44px;
}

ul.display-wrapper li.filled {
  border-bottom: none;
}

h2.setting-buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
}

h2.setting-buttons button {
  font-size: var(--FONT-SIZE-MEDIUM);
  padding: 1rem;
  border-radius: var(--BUTTON-BORDER-RADIUS);
  color: var(--WHITE);
  background-color: var(--YELLOW);
  border-color: var(--WHITE);
}

h2.setting-buttons button:hover {
  background-color: var(--WHITE);
  color: var(--YELLOW);
}

#category-display {
  text-decoration: underline double;
}
