:root {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  width: max(700px, 100vw);
  height: max(400px, 100vh);
  border: solid red 3px;
}

.all-caps {
  text-transform: uppercase;
}

ul.character-wrapper {
  padding: 0;
  margin: 0;
  border: solid green 3px;
}

ul.character-wrapper li {
  list-style: none;
}
