* {
  box-sizing: border-box;
  --padding-glo: 1.2rem;
}

body {
  width: 100vw;
  height: 100vh;
}

body,
:root {
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--padding-glo);
}

.big-button {
  grid-column: 4 / span 1;
  grid-row: 2 / span 4;
}

div.panel {
  width: max(35%, 75ch);
  aspect-ratio: 1 / 1;
  border: solid blue 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto; /* Horizontal centering */
  transform: translateX(-50%) translateY(-50%); /* Vertical centering */
}

div.panel > * {
  /*  The two rows */
  border: solid green 3px;
  margin: 0;
  padding: var(--padding-glo);
}

div.first-row {
  height: 20%;
}

div.second-row {
  height: 80%;
}

button {
  border: solid red 3px;
}
