/* Variables */
$boundary-color: hsl(0deg 0% 94%);
$gray: hsl(0deg 0% 87%);
$blue: hsl(217deg 99% 65%);
$panel-side-length: 40%; /* Side length of calculator panel WRT window width */
$padding-size: 1.2rem; /* Padding of buttons with containers*/

/* Mixin */
@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

* {
  box-sizing: border-box;
}

body,
:root {
  margin: 0;
  padding: 0;
}

body {
  width: max(100vw, 75ch);
  height: 100vh;
}
