* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  border: solid red 3px;
}

body,
:root {
  margin: 0;
  padding: 0;
}

div.panel {
  width: 35%;
  aspect-ratio: 1 / 1;
  border: solid blue 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto; /* Horizontal centering */
  transform: translateX(-50%) translateY(-50%); /* Vertical centering */
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column; /* Leave as default stretch for flexibility */
}

div.panel > * {
  /*  The three rows */
  border: solid green 3px;
  margin: 0;
}

div.first-row {
  height: 20%;
}

div.second-row {
  height: 16%;
}

div.third-row {
  height: 64%;
}
