/* Variables */
$boundary-color: hsl(0deg 0% 94%);
$gray: hsl(0deg 0% 87%);
$blue: hsl(217deg 99% 65%);

/* Mixin */
@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}
