* {
  box-sizing: border-box;
  --padding-glo: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
}

body,
:root {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--padding-glo);
}

.flex-column {
  flex-direction: column; /* Leave as default stretch for flexibility */
}

div.panel {
  width: max(35%, 75ch);
  aspect-ratio: 1 / 1;
  border: solid blue 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto; /* Horizontal centering */
  transform: translateX(-50%) translateY(-50%); /* Vertical centering */
}

div.panel > * {
  /*  The three rows */
  border: solid green 3px;
  margin: 0;
  padding: var(--padding-glo);
}

div.first-row {
  height: 20%;
}

div.second-row {
  height: 16%;
}

div.third-row {
  height: 64%;
}

button {
  border: solid red 3px;
  flex: 1 1 0;
}
