:root,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  --BLUE: #2c8e99;
  --BLACK: #232323;
  --BIG-FONT-SIZE: 6rem;
  --MEDIUM-FONT-SIZE: 3rem;
  --SMALL-FONT-SIZE: 1.5rem;
}

@media screen and (max-width: 800px) {
  * {
    --BIG-FONT-SIZE: 4rem;
    --MEDIUM-FONT-SIZE: 2rem;
    --SMALL-FONT-SIZE: 1rem;
  }
}

div.main-wrapper {
  width: 100vw;
  height: max(100vh, 800px);
  border: solid red 3px;
  text-align: center;
}

div.title-wrapper {
  color: #ffffff;
  width: 100%;
  height: 30%;
  background-color: var(--BLUE);
  border: solid green 3px;
  font-size: var(--MEDIUM-FONT-SIZE);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.title-wrapper .color-question {
  font-size: var(--BIG-FONT-SIZE);
}
