:root,
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  --BLUE: #2c8e99;
  --BLACK: #232323;
  --BIG-FONT-SIZE: 5rem; /* @media control */
  --MEDIUM-FONT-SIZE: 2.5rem; /* @media control */
  --SMALL-FONT-SIZE: 1rem; /* @media control */
  --TITLE-WRAPPER-HEIGHT: 30%; /* @media control */
  --NAV-WRAPPER-HEIGHT: 1.5rem; /* @media control */
  --MIN-HEIGHT: 700px; /* @media control */
  /* No need media control for third panel; third panel will take/give remnants
  */
  --GRID-M: 2; /* @media control */
  --GRID-N: 3; /* @media control */
  --TRANSITION-PROPERTY: all ease-in-out 0.3s;
}

@media screen and (max-width: 800px) {
  * {
    --BIG-FONT-SIZE: 3rem;
    --MEDIUM-FONT-SIZE: 1.5rem;
    --SMALL-FONT-SIZE: 0.75rem;
    --TITLE-WRAPPER-HEIGHT: 20%;
    --NAV-WRAPPER-HEIGHT: 1rem;
    --MIN-HEIGHT: 600px;
    --GRID-M: 3;
    --GRID-N: 2;
  }
}

div.main-wrapper {
  width: max(100vw, 350px);
  height: max(100vh, var(--MIN-HEIGHT));
  border: solid red 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

div.title-wrapper {
  color: #ffffff;
  width: 100%;
  height: var(--TITLE-WRAPPER-HEIGHT);
  background-color: var(--BLUE);
  font-size: var(--MEDIUM-FONT-SIZE);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical center */
}

div.title-wrapper .color-question {
  font-size: var(--BIG-FONT-SIZE);
}

nav.nav-wrapper {
  font-size: var(--SMALL-FONT-SIZE);
  color: var(--BLUE);
  height: var(--NAV-WRAPPER-HEIGHT);
  flex: 0 0 auto;
}

nav.nav-wrapper ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  gap: 5%;
}

nav.nav-wrapper li {
  height: 100%;
  list-style: none;
}

nav.nav-wrapper span {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  transition: var(--TRANSITION-PROPERTY);
}

nav.nav-wrapper span.chosen,
nav.nav-wrapper span:hover {
  background-color: var(--BLUE);
  color: white;
}

div.picker-wrapper {
  background-color: var(--BLACK);
  flex: 1 1 auto; /* Let the last panel take/lose all remnant */
}

div.picker-wrapper {
  display: grid;
  grid-template-rows: repeat(var(--GRID-M), auto);
  grid-template-columns: repeat(var(--GRID-N), auto);
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

div.picker-wrapper > * {
  width: max(10vw, 150px);
  height: max(10vw, 150px);
  border-radius: 1rem;
  transition: var(--TRANSITION-PROPERTY);
}

.clickable {
  cursor: pointer;
}

li.prompt {
  visibility: hidden;
}
